extends layout.jade

block content
  #mepbox
    span#dropdown-arrow ⌄
    select#meplist
    #mepinfos
      div#mepphoto
      p#mepcountry
      p
        span#mepparty
        |  (
        span#mepgroup
        |  group)
      p
        a#mepphone(href='tel:')
      form(id='contactForm', role='form')
        input(type='tel', id='phoneNumber', placeholder='Enter your own number', required)
        button(type='submit', id='phoneButton') Connect me for free
